<hr>
<div class="allFilters">
    <div class="comboBoxDiv">
        <p>Оттенок</p>
        <div class="custom-select" name="Tile">
          <select name="Shade">
            <option value="">Не выбрано:</option>
            <option value="Светлый">Светлый</option>
            <option value="Темный">Темный</option>
            <option value="Комбинированный">Комбинированный</option>
          </select>
        </div>

        <p>Поверхность</p>
        <div class="custom-select">
          <select name="Surface">
            <option value="">Не выбрано</option>
            <option value="Глянцевая">Глянцевая</option>
            <option value="Рельефная">Рельефная</option>
            <option value="Матовая">Матовая</option>
          </select>
        </div>

        <p>Материал</p>
        <div class="custom-select">
          <select name="Material">
            <option value="">Не выбрано:</option>
            <option value="Керамика">Керамика</option>
            <option value="Глина">Глина</option>
            <option value="Натуральный камень">Натуральный камень</option>
            <option value="Гипс">Гипс</option>
            <option value="Керамогранит">Керамогранит</option>
            <option value="Клинкер">Клинкер</option>
            <option value="Цемент">Цемент</option>
            <option value="Бетон">Бетон</option>
            <option value="Пластик">Пластик</option>
            <option value="Стекло">Стекло</option>
            <option value="Металл">Металл</option>
            <option value="Мрамор">Мрамор</option>
            <option value="Дерево">Дерево</option>
            <option value="Резина">Резина</option>
          </select>
        </div>

        <p>Форма</p>
        <div class="custom-select">
          <select name="Form">
            <option value="">Не выбрано:</option>
            <option value="Прямоугольник">Прямоугольник</option>
            <option value="Квадрат">Квадрат</option>
            <option value="Шестигранник">Шестигранник</option>
            <option value="Произвольная">Произвольная</option>
            <option value="Угол">Угол</option>
            <option value="Треугольник">Треугольник</option>
            <option value="Восьмигранник">Восьмигранник</option>
          </select>
        </div>

        <p>Вид работ</p>
        <div class="custom-select">
          <select name="TypeWork">
            <option value="">Не выбрано:</option>
            <option value="Внутренние">Внутренние</option>
            <option value="Наружные">Наружные</option>
          </select>
        </div>

        <p>Поверхность укладки</p>
        <div class="custom-select">
          <select name="LayingSurface">
            <option value="">Не выбрано:</option>
            <option value="Стена">Стена</option>
            <option value="Пол">Пол</option>
            <option value="Фасад">Фасад</option>
            <option value="Цоколь">Цоколь</option>
            <option value="Лестница">Лестница</option>
            <option value="Другое">Другое</option>
          </select>
        </div>

        <p>Тип помещения</p>
        <div class="custom-select">
          <select name="TypeRoom">
            <option value="">Не выбрано:</option>
            <option value="Сухие">Сухие</option>
            <option value="Влажные">Влажные</option>
          </select>
        </div>

        <p>Помещение</p>
        <div class="custom-select">
          <select name="Room">
            <option value="">Не выбрано:</option>
            <option value="Кухня">Кухня</option>
            <option value="Ванная комната">Ванная комната</option>
            <option value="Производственное помещение">Производственное помещение</option>
            <option value="Жилая комната">Жилая комната</option>
          </select>
        </div>

        <p>Дизайн</p>
        <div class="custom-select">
          <select name="Design">
            <option value="">Не выбрано:</option>
            <option value="Однотонный">Однотонный</option>
            <option value="Имитация материала">Имитация материала</option>
            <option value="Орнамент">Орнамент</option>
            <option value="Авторский">Авторский</option>
            <option value="Мозаика">Мозаика</option>
          </select>
        </div>

        <p>Страна производства</p>
        <div class="custom-select">
          <select name="Country">
            <option value="">Не выбрано:</option>
            <option value="Россия">Россия</option>
            <option value="Белоруссия">Белоруссия</option>
            <option value="Украина">Украина</option>
            <option value="Китай">Китай</option>
            <option value="Турция">Турция</option>
            <option value="Испания">Испания</option>
            <option value="Индия">Индия</option>
            <option value="Италия">Италия</option>
            <option value="Вьетнам">Вьетнам</option>
            <option value="Словакия">Словакия</option>
            <option value="Бельгия">Бельгия</option>
            <option value="Германия">Германия</option>
            <option value="Великобритания">Великобритания</option>
            <option value="Республика Корея">Республика Корея</option>
          </select>
        </div>
    </div>

    <div class="textDiv">
        <p>Ширина</p>
            <input type="text" placeholder="от" class="myInput" name ="minWidth">
            <input type="text" placeholder="до" class="myInput" name ="maxWidth">
        <p>Длина</p>
            <input type="text" placeholder="от" class="myInput" name ="minLength">
            <input type="text" placeholder="до" class="myInput" name ="maxLength">
        <p>Толщина</p>
            <input type="text" placeholder="от" class="myInput" name ="minThickness">
            <input type="text" placeholder="до" class="myInput" name ="maxThickness">
        <p>Площадь элемента</p>
            <input type="text" placeholder="от" class="myInput" name ="minSquare">
            <input type="text" placeholder="до" class="myInput" name ="maxSquare">
    </div>
</div>
<hr>
