<p>Цена</p>
<input type="text" placeholder="от" class="myInput" name ="minPrice">
<input type="text" placeholder="до" class="myInput" name ="maxPrice">

<hr>
<p>Вид обоев</p>
    <div class="filtDiv">
        <input type="checkbox" id='type1' name="type1" value="Флизелиновые обои">
        <label for="type1">Флизелиновые обои</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type2' name="type2" value="Виниловые обои">
        <label for="type2">Виниловые обои</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type3' name="type3" value="Бумажные обои">
        <label for="type3">Бумажные обои</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type4' name="type4" value="Фотообои/Декоративные">
        <label for="type4">Фотообои/Декоративные</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type5' name="type5" value="Стеклообои">
        <label for="type5">Стеклообои</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type6' name="type6" value="Обои под покраску">
        <label for="type6">Обои под покраску</label>
    </div>
<hr>
