<hr>
<div class="allFilters">
    <div class="comboBoxDiv">
        <p>Материал основы</p>
        <div class="custom-select" name="Wallpaper">
          <select name="BaseMaterial">
            <option value="">Не выбрано:</option>
            <option value="Флизелин">Флизелин</option>
            <option value="Винил">Винил</option>
            <option value="Стеклоткань">Стеклоткань</option>
          </select>
        </div>

        <p>Материал покрытия</p>
        <div class="custom-select">
          <select name="CoverMaterial">
            <option value="">Не выбрано:</option>
            <option value="Винил">Винил</option>
            <option value="Бумага">Бумага</option>
            <option value="Флизелин">Флизелин</option>
            <option value="Стеклоткань">Стеклоткань</option>
          </select>
        </div>

        <p>Помещение</p>
        <div class="custom-select">
          <select name="RoomWall">
            <option value="">Не выбрано:</option>
            <option value="Производственное помещение">Производственное помещение</option>
            <option value="Жилая комната">Жилая комната</option>
            <option value="Кухня">Кухня</option>
            <option value="Детская">Детская</option>
          </select>
        </div>

        <p>Дизайн / Рисунок</p>
        <div class="custom-select">
          <select name="DesignWall">
            <option value="">Не выбрано:</option>
            <option value="Узор">Узор</option>
            <option value="Однотонный">Однотонный</option>
            <option value="Полосы">Полосы</option>
            <option value="Фотопринт">Фотопринт</option>
            <option value="Имитация материала">Имитация материала</option>
            <option value="Надписи">Надписи</option>
            <option value="Рисунок">Рисунок</option>
            <option value="Другое">Другое</option>
          </select>
        </div>

        <p>Фактура</p>
        <div class="custom-select">
          <select name="TextureWall">
            <option value="">Не выбрано:</option>
            <option value="Гладкая">Гладкая</option>
            <option value="Рельефная">Рельефная</option>
          </select>
        </div>

        <p>Стыковка полотен</p>
        <div class="custom-select">
          <select name="DockinCanvases">
            <option value="">Не выбрано:</option>
            <option value="С подбором рисунка">С подбором рисунка</option>
            <option value="Без подбора рисунка">Без подбора рисунка</option>
          </select>
        </div>

        <p>Страна производства</p>
        <div class="custom-select">
          <select name="CountryWall">
            <option value="">Не выбрано:</option>
            <option value="Россия">Россия</option>
            <option value="Белоруссия">Белоруссия</option>
            <option value="Украина">Украина</option>
            <option value="Китай">Китай</option>
            <option value="Турция">Турция</option>
            <option value="Испания">Испания</option>
            <option value="Индия">Индия</option>
            <option value="Италия">Италия</option>
            <option value="Вьетнам">Вьетнам</option>
            <option value="Словакия">Словакия</option>
            <option value="Бельгия">Бельгия</option>
            <option value="Германия">Германия</option>
            <option value="Великобритания">Великобритания</option>
            <option value="Республика Корея">Республика Корея</option>
          </select>
        </div>
    </div>

    <div class="textDiv">
        <p>Ширина рулона</p>
            <input type="text" placeholder="от" class="myInput" name ="minWidthWall">
            <input type="text" placeholder="до" class="myInput" name ="maxWidthWall">
        <p>Длина рулона</p>
            <input type="text" placeholder="от" class="myInput" name ="minLengthWall">
            <input type="text" placeholder="до" class="myInput" name ="maxLengthWall">
        <p>Вес упаковки</p>
            <input type="text" placeholder="от" class="myInput" name ="minWeight">
            <input type="text" placeholder="до" class="myInput" name ="maxWeight">
    </div>
</div>
<hr>

