<p>Цена</p>
<input type="text" placeholder="от" class="myInput" name ="minPrice">
<input type="text" placeholder="до" class="myInput" name ="maxPrice">

<hr>
<p>Вид плитки</p>
    <div class="filtDiv">
        <input type="checkbox" id='type1' name="type1" value="Керамическая плитка">
        <label for="type1">Керамическая плитка</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type2' name="type2" value="Керамогранит">
        <label for="type2">Керамогранит</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type3' name="type3" value="Клинкер и искусственный камень">
        <label for="type3">Клинкер и искусственный камень</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type4' name="type4" value="Натуральный камень">
        <label for="type4">Натуральный камень</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type5' name="type5" value="Плитка-мозаика">
        <label for="type5">Плитка-мозаика</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='type6' name="type6" value="Зеркальная плитка">
        <label for="type6">Зеркальная плитка</label>
    </div>
<hr>
