<p>Цена</p>
<input type="text" placeholder="от" class="myInput" name ="minPrice">
<input type="text" placeholder="до" class="myInput" name ="maxPrice">

<hr>
<p>Производитель</p>
    <div class="filtDiv">
        <input type="checkbox" id='manufacturer1' name="manufacturer1">
        <label for="manufacturer1">Производитель 1</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='manufacturer2' name="manufacturer2">
        <label for="manufacturer2">Производитель 2</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='manufacturer3' name="manufacturer3">
        <label for="manufacturer3">Производитель 3</label>
    </div>
    <hr>
    <p>Цвет</p>
    <div class="filtDiv">
        <input type="checkbox" id='color1' name="color1">
        <label for="color1">Цвет 1</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='color2' name="color2">
        <label for="color2">Цвет 2</label>
    </div>
    <div class="filtDiv">
        <input type="checkbox" id='color3' name="color3">
        <label for="color3">Цвет 3</label>
    </div>