<div class="product">
    <div class="product-img">
        {% load static %}
        <img src='{{ product.img }}' width="100%" height="100%">
    </div>

    <div class="product-text">
        <div class="productName">
            <h2>{{ product.name }}</h2>
            <img src="{% static 'images/star-white.png' %}" class="like">
            <p class="price">{{ product.price }} ₽</p> </div>
        <p>{{ product.description|truncatewords:22 }}</p>
        <div class="info">
          <input id="{{ product.id }}" class="info__switch" type="checkbox">
          <label for="{{ product.id }}" class="info__headline">Все характеристики</label>
          <div class="info__body">
            <table>
                <thead>
                    <tr>
                        <th class="px-1">Свойство</th>
                        <th class="px-1">Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                    {% for property in product.properties %}
                    <tr>
                        <td class="px-1">{{ property.name }}</td>
                        <td class="px-1">{{ property.value }}</td>
                    </tr>
                    {% endfor %}
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                    {# ОТОБРАЖАЕТСЯ ТОЛЬКО ЧАСТЬ ТАБЛИЦЫ #}
                </tbody>
            </table>
          </div>
        </div>
        <h4><a href="{% url 'product' product.id %}">Подробнее</a></h4>
    </div>

</div>