{% extends 'www/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block topictext %}
Регистрация
{% endblock %}


{% block content %}
  <form action="#">
    <div class="regContainer">

      <label for="email"><b>Email</b></label>
      <input type="text" id="regText" placeholder="Введите Email" name="email" required>

      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="psw" required>

      <label for="psw-repeat"><b>Повторите пароль</b></label>
      <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

      <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="regContainer signin">
      <p>У вас уже есть акаунт? <a href="{% url 'avtorizationPage' %}">Авторизируйтесь</a>.</p>
    </div>
  </form>
{% endblock %}