{% extends 'www/base.html' %}

{% block title %}
Поиск по категории {{ category_name }}
{% endblock %}

{% block topictext %}
Нашлось {{ total_count }} товаров

{% load static %}

<div class="dropdown">
<button onclick="myFunction()" class="dropbtn"><img src="{% static 'images/filt.png' %}" alt="фильтр"></button>
  <div id="myDropdown" class="dropdown-content">
    <form id='filter' name="filter">
        {% include 'category_filters/'|add:category_name|add:'.html' %}
        <input type="text" name="itemPerPage" value="20" hidden>
        <input type="text" name="page" value="1" hidden>
        <button type="submit">Применить</button>
    </form>
  </div>
</div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}

{% block products %}

{% for product in products %}
    {% include "www/productCard.html" with product=product %}
{% endfor %}

{% endblock %}