{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/bootstrap-5.1.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/fontawesome-free/css/all.css' %}" rel="stylesheet">
    <script src="{% static '/jquery-3.6.0-dist/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
<div id="card_id" class="card">
    Meow! <i class="fas fa-cat"></i>
</div>
<script>
    $('#card_id').addClass('text-white bg-primary')
</script>
</body>
</html>